{
    "name": "{{pluginID}}",
    "authors": [
        "{{pluginAuthor}}"
    ],
    "dependencies": {
        "dxx" : { {{dxx.packageVersion}} }
    },
    "description": "{{pluginDesc}}",
    "copyright": "{{pluginCopyright}}",
    "license": "{{pluginLicense}}",
    "versions": [ "DXX_Module","DXX_Plugin" ],
    "targetType": "dynamicLibrary",
    "targetPath": "bin",
    "sourceFiles": [
        "{{pluginName}}.def"
    ],
}